@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.buycardsmain {
    font-size: small;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5vh;
}

.buycardstitle {
    color: #486284;
}

.buycardsp {
    margin: 3vh;
}

.buycardslinks {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px ;
    color: #1A202C;
    list-style: none;
    font-size: medium;
    margin: 1px;
    padding: 25px;
}

.buycardslinks li{
    padding: 10px 0;
    border-bottom: 2px solid rgb(0, 0, 0, 0.3);
}
.buycardslinks li a{
    text-decoration: none;
    color: #1A202C;
}
.buycardslinks li:hover{
    border-bottom: 3px solid rgb(0, 0, 0, 1);
    cursor: pointer;
}

.buycardscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figurebuycards {
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px 50px; */
    justify-content: space-between;
}

.figurebuycards img{
    margin-top: 10px;
}

.buttonbuycards {
    background-color: #306BB3;
    color: white;
    margin: 50px;
    padding: 19px;
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
    padding: 20px;
    background-color: #DEE5ED;
    border-radius: 3%;
    border: 5px solid darkblue;
    aspect-ratio: 15/16;
    width: 20%
}

.pokemon-img {
    background-color: #FFFFFF;
    border-radius: 3%;
    border: 5px solid darkblue;
    width: 85%;
    aspect-ratio: 15/16;
}

.btn-buy {
    background-color: #306BB3; /*color boton*/
    color: white;   /*color texto*/
    /* margin: 15px;  */
    padding: 10px 40px; /*espacio alrededor texto*/
    border-radius: 4px; /*borde redondeado*/
    border: transparent; /*borde transparente*/
    cursor: pointer; /*cursor de mano*/
    
}
.btn-buy:hover {background: #106cb8;}

.pokemon-footer {
    display: inline-flex;
    justify-content: space-between; 
    align-items: flex-end;  
    width: 85%; /*ancho del footer*/
    padding: 8px 0 1px;
}

.pokemon-footer p {
    margin: 0;
    font-size: 1.2rem;
    font-weight:900;
    color:black;
    padding: 10px 0;
}

.pokemon-header {
    align-items: flex-end;
    
}

.pokemon-header p {
    margin: 0;
    font-size: 1rem;
    font-weight:900;
    color: black
}
