@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

main h1{
    color: #486284;
}

.ourblogmain {
color: #1A202C;
font-size: small;
text-align: center;
}

.ourblogimg {
    column-count: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.ourblogsection {
    margin: 2vh;
}

.ourblogp {
    text-align: left;
    margin-left: 8vh;
}

.ourblogimg2 {
  width: 24.3vw;
}

@media (min-width: 320px) {

    /*main*/
   .ourblogmain {
       padding-top: 15px;
   }
   .ourblogsection br{
    display: none;
   }
    .ourblogimg {
       flex-direction: column;
   }
    .ourblogimg2 {
       width: 15rem;
   }
    .ourblogp {
        font-size: 10px;
        margin: 20px;
        text-align: justify;
    }
    .ourblogp br{
        display: none;
    }
}

@media (min-width: 375px) {

    /*main*/
   .ourblogmain {
       padding-top: 15px;
   }
   .ourblogsection br{
    display: none;
   }
    .ourblogimg {
       flex-direction: column;
   }
   .ourblogmain p{
        font-size: 0.7rem;
        margin: 30px;
        text-align: justify;
   }
    .ourblogimg2 {
       width: 17rem;
   }
    .ourblogp {
        font-size: 10px;        
        margin: 20px;
    }
    .ourblogp br{
        display: none;
    }
}
@media (min-width: 425px) {

    /*main*/
   .ourblogmain {
       padding-top: 15px;
   }
   .ourblogsection br{
    display: none;
   }
    .ourblogimg {
       flex-direction: column;
   }
   .ourblogmain p{
        font-size: 0.7rem;
        margin: 30px;
        text-align: justify;
   }
    .ourblogimg2 {
       width: 17rem;
   }
    .ourblogp {
        font-size: 10px;        
        margin: 20px;
    }
    .ourblogp br{
        display: none;
    }
}
